* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: light;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
  }

.gjs-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 10px;
}

.gjs-cell {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
}

#i3rw {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("img/bg/home.png");
}

#isqno {
    height: 100vh;
}

#iy9bj {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* align-self: center; */
}

#il3i2 {
    padding: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    font-size: 68px;
    font-style: normal;
    font-weight: 300;
    padding: 0px 0px 0px 0px;
    height: 75px;
    border: none;
    color: #3D3D3D;
    top:30%;
    position: absolute;
}

.bx--btn {
    display: inline-flex;
    margin-top: 1rem;
    font-size: 1rem !important;
  }

#ihf9f {
    background-color: #0062FF;
    z-index: 1;
    position: absolute;
    left: 967px;
    /* top: 657px; */
    top:750px;
    /* width: 390px; */
    /* height: 91px;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    text-decoration: none;
    padding: 0px 0px 0px 0px;
    min-height: auto;
    margin: 0 0 0 0px;
    width: 330px;
    color: #fff */
}

a {
    color: #fff;
    text-decoration: none;
  }

@media (max-width: 768px) {
    .gjs-row {
        flex-wrap: wrap;
    }
}